body {
  background-image: url("https://wallpapercave.com/wp/wp7969076.jpg");
  background-position: center;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr  ;
  grid-gap: 10px;
 
}
.grid-item {
  background-color: #ffffff;


box-shadow: 1px solid black;
}
